* * * * * /venv/bin/python3 /usr/src/app/cleanGraph.py >> /var/log/cron.log 2>&1
* * * * * /venv/bin/python3 /usr/src/app/endpointTests.py >> /var/log/cron.log 2>&1
* * * * * /venv/bin/python3 /usr/src/app/updateGraph.py >> /var/log/cron.log 2>&1
